{% load static %}
{% load humanize %}
{% block content %}

<style>
    body{

        background: #f4f4f4;
        padding: 0;
        margin: 0;
        zoom: 80%;
        overflow-x: hidden;
    }
    .header {
        display: flex;
        align-items: center;
        width: 100%;
        height: 140px;
        background-color: #f4f4f4;
        position: fixed; /* Закрепляем заголовок */
        top: 0; /* Располагаем заголовок в верхней части экрана */
        left: 0; /* Выравниваем заголовок по левому краю */
        z-index: 1000; /* Устанавливаем z-index для того, чтобы заголовок был поверх других элементов */
    }
    .header-container{
        justify-content: space-between;
        margin: auto;
        display: flex;
        width: calc(100% - 141px);
        height: 60px;
    }
    .logo{
        height: 60px;
        width: 60px;
    }

    .navbar{
        margin-bottom:auto;
        margin-top: auto;
        height: 39px;
        width: auto;
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
    }
    ul{
        gap: 20px;
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
        list-style-type: none;
    }

    ul li{
        width: 135px;

    }
    a{
        text-decoration: none;
        color: white;
    }
    .navbar a, .about-us-link a{
        color: var(--main-light-grey, #2a2a28);
        text-decoration: none;
    }
    .navbar a:hover, .about-us-link a:hover{
        cursor: pointer;
        color: var(--main-grey, #232323);
        transition: 0.5s;
    }
     /* Стили для остальных пунктов меню */
    .navbar a {
        color: var(--main-light-grey, #2a2a28);
        display: block;
        text-align: center;
        padding: 10px 15px; /* Одинаковые отступы для всех пунктов */
        border-radius: 80px; /* Скругление углов для всех пунктов */
        font-family: "Inter", sans-serif;
        font-size: 18px;

    }

    /* Стили при наведении для всех пунктов меню */
    .navbar a:hover {
        background-color: #2a2a28;; /* Фон для активного пункта меню */
        color: var(--main-grey, #ffffff); /* Фон при наведении */
        text-decoration: none;
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
    }
    .navbar .active a {
        background-color: #2a2a28;; /* Фон для активного пункта меню */
        color: var(--main-grey, #ffffff); /* Цвет текста для активного пункта */

    }
    .active{
        font-weight: 700;
        background-color: #2a2a28;; /* Фон для активного пункта меню */
        color: var(--main-grey, #ffffff); /* Цвет текста для активного пункта */
    }

    .nav-tools{
        display: flex;
        justify-content: space-between;
        width: 170px;
        height: 50px;
    }
    .photo-profile{
        border-radius: 100%;
        height: 50px;
        width: 50px;
        background: white;
    }
    .employees-create{
        margin-top: 140px;
        width: calc(100% - 141px);
        margin-left: auto;
        margin-right: auto;
    }
    .bact-to-employees{
        margin-bottom: 5px;
        font-family: "TT Fors Trial Variable", sans-serif;
        font-weight: 280;
        font-size: 16px;
        line-height: 100%;
        color: #585858;
        transition: all 0.3s;
    }
    .bact-to-employees:hover{
        color: #7e8230;;
    }
    .employee-name{
        padding: 0;
        width: 50%;
        background: none;
        border: none;
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 36px;
        color: #2a2a28;
    }
    .employee-management{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .employee-data{
        gap: 20px;
        margin-top: 50px;
        width: 100%;
        height: 1100px;
        display: flex;
    }
    .employee-avatar {
        border: 1px solid #a5a5a5;
        width: 340px; /* ширина, адаптируйте под ваш дизайн */
        height: 475px; /* высота, адаптируйте под ваш дизайн */
        border-radius: 8px; /* если нужны скругленные углы */
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: end;
    }
    .title-style{
        width: 340px;
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        color: #2a2a28;
        margin-bottom: 5px;
    }
    input:focus {
        outline: none;  /* Убирает стандартное выделение */
    }
    input, select{
        border: 1px solid #a5a5a5;
        border-radius: 15px;
        padding: 10px;
        width: 340px;
        height: 45px;
        backdrop-filter: blur(50px);
        box-shadow: inset 0 0 20px -3px rgba(255, 255, 255, 0.1);
        background: #fff;
        font-family: "Inter", sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height: 140%;
        color: #2a2a28;
    }
    .point-in-form{
        flex-wrap: wrap;
        margin-bottom: 38px;
        display: flex;
        gap:20px;

    }
    .right-section{
        width: 100%;
    }
    .right-section button{
        cursor: pointer;
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        color: #fff;
        border-radius: 15px;
        width: 339px;
        height: 50px;
        backdrop-filter: blur(50px);
        box-shadow: inset 0 0 20px -3px rgba(255, 255, 255, 0.1);
        background: #7e8230;
        border: none;
        transition: all 0.3s;
    }
    .right-section button:hover{
        background: #2a2a28;
        border: none;
    }
    .circle-bg{
        fill: white;
        transition: all 0.3s;
    }
    .logout-button:hover .circle-bg{
        fill: #2a2a28;
    }
    .logout-button:hover svg path{
        stroke: white;
    }









</style>
<link rel="icon" type="image/svg+xml" href="{% static 'logo.svg' %}">

<title>Создание сотрудника</title>

<div class="header">
    <div class="header-container">
        <a class="logo">
            <img src="{% static 'logo.svg' %}" alt="Logo">
        </a>
        <div class="navbar">
            <ul class="menu__box">
                <li><a href="{% url 'main' %}">Дашборд</a></li>
<!--                <li><a href="{% url 'calendar' %}">Календарь</a></li>-->
                <li><a href="{% url 'orders' %}">Заказы</a></li>
                <li><a href="{% url 'active'%}">Активность</a></li>
                <li><a class="active" style="color: white" href="{% url 'staff' %}">Сотрудники</a></li>
            </ul>
        </div>
        <div class="nav-tools">
            <a class="logout-button" style="cursor: pointer" href="{% url 'logout' %}">
                <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle class="circle-bg" cx="25" cy="25" r="25"  />
                  <path d="M29.6247 17.1677H19.208V31.751C19.208 32.3036 19.4275 32.8335 19.8182 33.2242C20.2089 33.6149 20.7388 33.8344 21.2913 33.8344H29.6247M30.6663 28.626L33.7913 25.501M33.7913 25.501L30.6663 22.376M33.7913 25.501H23.3747" stroke="black" stroke-width="1.04167" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </a>
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle  cx="25" cy="25" r="25" fill="white"/>
              <path d="M24.6116 35C24.1272 35 23.7138 34.8278 23.3715 34.4833C23.0292 34.1395 22.858 33.7261 22.858 33.2431H26.3718C26.3718 33.729 26.1995 34.1431 25.855 34.4855C25.5098 34.8285 25.0954 35 24.6116 35ZM17 32.1542V31.0664H18.7569V22.4474C18.7569 21.0259 19.2065 19.776 20.1058 18.6976C21.0065 17.6192 22.1469 16.9472 23.5271 16.6818V16.0878C23.5271 15.7854 23.6326 15.5287 23.8436 15.3177C24.0547 15.1059 24.311 15 24.6127 15C24.9137 15 25.1708 15.1059 25.384 15.3177C25.5965 15.5287 25.7027 15.7854 25.7027 16.0878V16.1694C25.5454 16.4146 25.4076 16.6622 25.2894 16.9124C25.1704 17.1619 25.078 17.4273 25.012 17.7087L24.8183 17.687C24.7552 17.6812 24.6874 17.6783 24.6149 17.6783C23.2928 17.6783 22.1673 18.1424 21.2382 19.0707C20.3099 19.9997 19.8458 21.1253 19.8458 22.4474V31.0664H29.3851V24.4534C29.5577 24.4874 29.7354 24.5139 29.9181 24.5328C30.1023 24.5509 30.2873 24.5531 30.4729 24.5393V31.0664H32.2298V32.1542H17Z" fill="#2A2A28" />
              <path d="M28.0872 21.1735C28.6181 21.7022 29.2606 21.9666 30.0149 21.9666C30.7706 21.9666 31.4113 21.7008 31.9393 21.1713C32.468 20.6412 32.7323 19.999 32.7323 19.2448C32.7309 18.4891 32.4654 17.8473 31.936 17.3193C31.4066 16.7913 30.7648 16.5273 30.0105 16.5273C29.2556 16.5273 28.6137 16.7924 28.085 17.3226C27.5571 17.8527 27.2931 18.4949 27.2931 19.2491C27.2931 20.0041 27.5578 20.6456 28.0872 21.1735Z" fill="#FF0035" />
            </svg>

            <div class="photo-profile">
                {% if request.user.employee.avatar %}
                    <img src="{{ request.user.employee.avatar.url }}" alt="Аватар" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;">
                {% else %}
                    <img src="{% static 'default_avatar.jpg' %}" alt="Аватар" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="employees-create">
    <a class="bact-to-employees" href="{% url 'staff' %}">Назад ко всем сотрудникам</a>
    <form id="employeeCreationForm" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div style="justify-content: space-between; display: flex">
            <!-- ФИО сотрудника как поле ввода -->
            <input type="text" name="full_name" class="employee-name" placeholder="Введите ФИО сотрудника" required style="border-radius: 5px">
            <div class="employee-management">
                <!-- Иконки управления, если нужны -->
            </div>
        </div>
        <div class="employee-data">
            <div class="left-section">
                <!-- Форма с аватаром -->
                <div class="employee-avatar" id="avatarPreview">
                    <label for="avatarUpload" class="upload-label" style="cursor: pointer;">
                        <input type="file" id="avatarInput" name="avatar" accept="image/*" style="border-radius: 8px;">
                    </label>
                </div>
            </div>
            <div class="right-section">
                <!-- Остальные данные сотрудника -->
                <div class="point-in-form">
                    <label class="title-style">Должность<br>
                        <select name="position" required>
                            {% for position in positions %}
                            <option value="{{ position.id }}">{{ position.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label class="title-style">Подразделение<br>
                        <select name="department" required>
                            {% for department in departments %}
                            <option value="{{ department.id }}">{{ department.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
                <div class="point-in-form">
                    <label class="title-style">Статус<br>
                        <select name="status" required>
                            <option value="working">Работает</option>
                            <option value="not_working">Уволен</option>
                            <option value="probation">Испытательный срок</option>
                        </select>
                    </label>
                    <label class="title-style">Дата принятия на работу<br>
                        <input type="date" name="employment_date" required>
                    </label>
                    <label class="title-style">Дата увольнения<br>
                        <input type="date" name="termination_date">
                    </label>
                </div>
                <div class="point-in-form">
                    <label class="title-style">Гражданство<br>
                        <input type="text" name="citizenship" >
                    </label>
                    <label class="title-style" style="width: 50%">Адрес проживания<br>
                        <input type="text" name="residence_address" required style="width: 100%">
                    </label>
                </div>
                <div class="point-in-form">
                    <label class="title-style">Серия паспорта<br>
                        <input type="text" name="passport_series" required>
                    </label>
                    <label class="title-style">Номер паспорта<br>
                        <input type="text" name="passport_number" required>
                    </label>
                    <label class="title-style">Кем выдан<br>
                        <input type="text" name="passport_issued_by" required>
                    </label>
                    <label class="title-style">Дата выдачи<br>
                        <input type="date" name="passport_issue_date" required>
                    </label>
                </div>
                <div class="point-in-form">
                    <label class="title-style">Тип оплаты<br>
                        <select name="type_salary">
                            <option value="fixed">Фиксированный</option>
                            <option value="not_fixed">Сдельный</option>
                        </select>
                    </label>
                    <label class="title-style">Зарплата<br>
                        <input type="number" name="salary">
                    </label>
                    <label class="title-style">Реквизиты оплаты<br>
                        <input type="text" name="payment_details" required>
                    </label>
                </div>
                <!-- Кнопка для отправки формы -->
                <button type="submit" style="margin-top: 20px;">Создать сотрудника</button>
            </div>
        </div>
    </form>
</div>


<script>
document.addEventListener('keydown', function(event) {
    if (event.key === "Escape") { // Проверка нажатия на клавишу "Esc"
        window.location.href = "{% url 'staff' %}"; // Перенаправление на страницу сотрудников
    }
});
</script>

<script>
document.getElementById('avatarInput').addEventListener('change', function(event) {
    const file = event.target.files[0];
    if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
            const preview = document.getElementById('avatarPreview');
            preview.style.backgroundImage = `url('${e.target.result}')`;
            preview.style.backgroundSize = 'cover';
            preview.style.backgroundPosition = 'center';
        };
        reader.readAsDataURL(file);
    }
});
</script>

{% endblock %}